<div class="main">
  <header>
    <p-menubar>
      <ng-template pTemplate="start">
        <h2 class="main__title">Lynkas Challenge</h2>
      </ng-template>
      <ng-template pTemplate="end">
        <ul class="main__nav">
          <li>
            <a routerLink="/dashboard" routerLinkActive="main__nav__link--active" class="main__nav__link"
              >Dashboard</a
            >
          </li>
          <li>
            <a routerLink="/deliveries" routerLinkActive="main__nav__link--active" class="main__nav__link"
              >Lista de entregas</a
            >
          </li>
        </ul>
      </ng-template>
    </p-menubar>
  </header>

  <main>
    <router-outlet />
  </main>
</div>

<p-toast />
